@model LaboratorioJG.Models.ViewModels.EditarOperadorasViewModel
@{
    ViewBag.Title = "Nueva Operadora";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Editar", "Operadoras", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.Id)

            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
            <div style="color: red;">
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
            <br /><br />

            @Html.LabelFor(d => d.Anio)
            @Html.TextBoxFor(d => d.Anio, new { @class = "form-control" })
            <div style="color: red;">
                @Html.ValidationMessageFor(model => model.Anio)
            </div>
            <br /><br />
            <div style="text-align: left;">
                <input type="submit" class="btn btn-success" value="Guardar " />
            </div>

        }
    </div>
</div>